Day 2 Assignment

# back slash

In [1]:
print("Aathira \
Nair")

Aathira Nair

# Triple quote

In [9]:
a = """My name is Aathira Nair. Letsupgrade is doing a great job. I enjoy learning with letsupgrade. I would like to do more courses from letsupgradeThankyou so much for giving this opportunity"""
print(a)

My name is Aathira Nair. Letsupgrade is doing a great job. I enjoy learning with letsupgrade. I would like to do more courses from letsupgradeThankyou so much for giving this opportunity

# String Inside the quote

In [10]:
print("Let's upgrade")

Let's upgrade

# Escape sequence

In [11]:
print("hello\tlets upgrade")

hello	lets upgrade

In [12]:
print("good morning\nsir")

good morning
sir

# Formatted output

In [15]:
name="Aathira Nair"
Marks = 85
age = 21
print("my name is",name,"I am",age,"years old","I got" ,Marks,"%" )

my name is Aathira Nair I am 21 years old I got 85 %

# Arithmetic operations

In [16]:
5**5

3125

In [17]:
1000+2500

3500

In [18]:
100/10

10.0

In [19]:
10%5

0

In [20]:
100 // 3

33

# Comparison operation

In [22]:
a=10
b==a

True

In [23]:
a<=b

True

In [24]:
a>=b

True

In [25]:
a!=b

False

# Bitwise operation

In [34]:
a=240
b=1
a|b

241

In [35]:
a&b

0

# Logical operation

In [36]:
10<9 and 20> M

False

In [37]:
not 10<8

True

# Membership operation

In [40]:
a = "Aathira Nair"
"N" in a

True

# Identity Operation

In [41]:
x=2.5
y=2.5
x is y

False

In [42]:
id(x)

2672742719056

In [43]:
id(y)

2672743121776

# operator precedence

In [44]:
10+10/5*4

18.0